*{margin: 0;padding: 0;box-sizing: inherit;}
html{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 10px;
}
a{
	text-decoration: none;
}
#wrapper{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns:15% auto;
	grid-template-rows:  80% auto;
	grid-template-areas: 	
	'sidebar main'
	'sidebar main'
	'sidebar footer';
}
.sidebar{
	grid-area: sidebar;
	background: #2c1128;
}
nav{
	text-align: center;
}
.brand{
	background-color: #fff;
	padding: 2.5rem 0;
}
.brand .nav-link{
	font-size: 2rem;
	color: #2c1b28;
}
.nav-list{
	list-style: none;
}
.nav-item{
	margin:5rem 0;
}
.nav-list{
	font-size: 1.6rem;
	color: #ffff;
	text-transform: uppercase;
	padding: 1rem;
}
.nav-list a{
	display: block;
	color: #fff;
}
.main-content{
	position: relative;
	grid-area: main;
	background:linear-gradient(326deg,#5f0756 0%,rgba(164,80,139,0.8)74%),
	url('https://genk.mediacdn.vn/thumb_w/640/2015/wolverine-claws-hugh-jackman-1433154207027.jpg') center no-repeat;
	background-size: cover;
	position: center; 
}
.main-content-cta{
	position: absolute;
	top: 55%;
	right: 10%;
	transform: translateY(-55%);
	color: #fff;
	text-align: center;
}
.main-content-cta h1{
	font-size: 5rem;
}
.main-content-cta h6{
	font-size: 2rem;
	margin-bottom: 2rem;
}
.btn-group{
	display: flex;
	margin-bottom: 2rem;
	justify-content: center;
}
.btn{
	color: #fff;
	padding: 1.5rem 5rem;
	border:2px solid rgba(255,255,255,6);
}
.btn:first-child{
	margin-right: 1rem;
}
.main-content-cta .date{
	color:#facc6b;
	font-size: 2rem;
}
.footer{
	grid-area: footer;
	background-image: linear-gradient(315deg,#fabc3c 0%,#facc6b 75%);
	height: 100%;
	display: flex;
	align-items: center;
}
.panc-notice{
	height: inherit;
	width: 100%;
	max-width: 40rem;
	background-color: #fff;
	display: flex;
	padding: 2rem;
}
.panc-notice h1{
	margin: auto;
	text-transform: uppercase;
	position: relative;
}
.panc-notice h1::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -1.5rem;
	width: 5.5rem;
	height: 3px;
	background-image: linear-gradient(315deg,#fabc3c 0%,#facc6b 75%);
	
}
.statistics{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 5rem;
}
.statistics .item{
	width: 100%;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,0.7);
	padding: 2rem;
}
.statistics .item i{
	font-size: 8rem;
	padding: 0 3rem;
}
.item-desc p{
	font-size: 1.4rem;
}
@media(max-width: 1300px){
	.brand .nav-link{
		font-size: 1.5rem;
	}
	.nav-link{
		font-size: 1.3rem;
	}
	.statistics .item i{
		font-size: 5rem;
		padding: 0 1rem;
	}
	.panc-notice{
		max-width: 25rem;
		padding: 1rem;
	}
	.panc-notice{
		max-width: 25rem;
		padding: 1rem;
	}
	.panc-notice h1{
		font-size: 1.5rem;
	}
	.item-desc p{
		font-size: 1.2rem;
	}
}
@media(max-width: 960px){
	#wrapper{
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: 100% auto;
		grid-template-rows: 10% 100% auto;
		grid-template-areas: 	
		'sidebar '
		'main'
		'footer'
		;
	}
	nav{
		height: 100%;
		position: relative;
	}
	.nav-list{
		height: 100%;
		display: flex;
	}
	.brand{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -1.5rem;
		z-index: 1000;
		padding: .5rem;
		border-right: .8rem;
	}
	.nav-item{
		margin: auto;
	}
}
